header{
    background-color: white;
    margin-left: -10px;
    width: 105%;
    opacity: 0.9;
}

h1{
    color: black;
    padding-top: 5px;
    font-family: monospace;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-top: 90%;
}