<div class="content">
    <div class="solarsysteme">
        <img src="./assets/img/horloge.png" width="350px" class="horloge">
        <div class="venus-outline"></div>
        <div class="earth-outline"></div>
        <div class="mars-outline"></div>
        <div class="sun">
            <span style="font-size: 36pt;">☉</span>
        </div>
        <div class="venus">
            <span style="font-size:19pt;">♀</span> 
            vénus
        </div>
        <div class="earth">
            <div class="moon-outline"></div>
            <div class="moon">
                <span style="font-size:10pt;">♁</span> 
                lune
            </div> 
            <span style="font-size: 13pt;">⊕</span> 
            terre
        </div>
        <div class="mars">
            <span>♂</span> 
            mars
        </div>
    </div>
    <p>
        L'alignement des astres indique la voie.<br><br>
        Bélier : 9<br><br>
        Taureau : 4<br><br>
        Gémaux : 1<br><br>
        Cancer : 3<br><br>
        Lion : 7<br><br>
        Vierge : 2<br><br>
        Balance : 10<br><br>
        Scorpion : 8<br><br>
        Sagittaire : 11<br><br>
        Capricorne : 5<br><br>
        Verseau : 12<br><br>
        Poisson : 6
    </p>
</div>