<div class="content">
    <p>insérer l'indice ici</p>
    <div class="solarsysteme">
        <img src="./assets/img/horloge.png" width="98%" class="horloge">
        <img src="./assets/img/SUN.png" width="28%" class="sun">
        <img src="./assets/img/VENUS.png" width="16%" class="venus">
        <img src="./assets/img/EARTH.png" width="11%" class="earth">
        <img src="./assets/img/MOON.png" width="3%" class="moon">
        <img src="./assets/img/MARS.png" width="15%" class="mars">
    </div>
    <p>insérer code ici</p>
</div>