.content{
    overflow: hidden;
    width: 100.5%;
    height: 100.3%;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    background-color: white;
}

.horloge{
    margin-left: 5px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}