<div class="content">
    <div class="center">
        <div class="dot_verso" id="dot_1" (click)="turn1()">
            <p>1 = 5</p>
            <div id="cercle"></div>
        </div>
        <div class="dot_verso" id="dot_2" (click)="turn2()">
            <p>2 = 25</p>
            <div id="cercle"></div>
        </div>
        <div class="dot_verso" id="dot_3" (click)="turn3()">
            <p>3 = 325</p>
            <div id="cercle"></div>
        </div>
        <div class="dot_verso" id="dot_4" (click)="turn4()">
            <p>4 = 4325</p>
            <div id="cercle"></div>
        </div>
        <div class="dot_verso" id="dot_5" (click)="turn5()">
            <p>5 = ?</p>
            <div id="cercle"></div>
        </div>
    </div>
</div>