<header routerLink="/">
    <h1><marquee direction="right">Hunter X Nanterre</marquee></h1>
</header>
<div class="content">
    <div class="class">
      <p>
        Q R C O D E ↓ 
      </p>
    </div>
    <div class="box" routerLink="/qrcode1">
      <p>1</p>
    </div>
    <div class="box" routerLink="/qrcode2">
      <p>2</p>
    </div>
    <div class="box" routerLink="/qrcode3">
      <p>3</p>
    </div>
    <div class="box" routerLink="/qrcode4">
      <p>4</p>
    </div>
    <div class="class">
      <p>
        O U T P U T ↓
      </p>
    </div>
    <div class="box" routerLink="/nomathsequence">
      <p>1</p>
    </div>
    <div class="box" routerLink="/lostsignal">
      <p>2</p>
    </div>
    <div class="box" routerLink="/falsecompassway">
      <p>3</p>
    </div>
    <div class="box"routerLink="/astrosolarsysteme">
      <p>4</p>
    </div>
    <div class="class">
      <p>
        S C R I P T ↓
      </p>
    </div>
    <div class="box">
      <p>overview</p>
    </div>
    <div class="box">
      <p>settings</p>
    </div>
    <div class="box">
      <p>reset</p>
    </div>
</div>